<dx-tab-panel id="tabPanel">
  <dxi-item title="Інформація про спортсмена" icon="info">
      <app-info-about-sportsman></app-info-about-sportsman>
    </dxi-item>
  <dxi-item title="Контакти" icon="card">
    <app-description></app-description>
  </dxi-item>
  <dxi-item title="Опис" icon="user">
    <app-contacts></app-contacts>
  </dxi-item>
</dx-tab-panel>

<!-- <dx-form labelLocation="top">  
  <dxi-item    
  *ngIf="!projectID"    
  itemType="group"    
  caption="Загальна інформація:"    
  [colCount]="12"  >    
  <dxi-item [colSpan]="3">      
    <dxo-label text="Офіс"></dxo-label>      
    <div *dxTemplate>        
      <ng-container *ngTemplateOutlet="officeTemplate"></ng-container>      
    </div>    
  </dxi-item>    
  <dxi-item [colSpan]="7">      
      <dxo-label text="Ініціатор"></dxo-label>      
      <div *dxTemplate>        
        <ng-container *ngTemplateOutlet="employeeTemplate"></ng-container>      
      </div>    
    </dxi-item>    
      <dxi-item [colSpan]="2">      
        <dxo-label text="Рік проекту"></dxo-label>     
      <div *dxTemplate>        
        <ng-container *ngTemplateOutlet="yearTemplate"></ng-container>      
      </div>    
    </dxi-item>  
  </dxi-item> -->

